# macOS
.DS_Store

# VSCode
.vscode/

# Bytecode Python
__pycache__/
*.py[cod]
*.pyo

# Ambiente virtual local
.venv/

# Arquivos temporários e de saída
output/*
!output/.gitkeep
Ybus.xlsx
*.log

# Exportação de arquivo .zip
exportada/
exportar_projeto.sh
power_flow_entrega.zip